@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
main {
    flex-grow: 2;
    display: flex;
    /* min-width: 600px; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #D0D0D0;
    background-image: url(https://github.com/hinemp/project1/raw/master/images/main%20images/main-background.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

#top_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

#roster_first_row,
#roster_second_row,
#roster_third_row,
#roster_fourth_row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 75px;
}

#roster_first_row>a,
#roster_second_row>a,
#roster_third_row>a,
#roster_fourth_row>a {
    padding: 0;
    margin: 0;
}

#roster_first_row>a>img,
#roster_second_row>a>img,
#roster_third_row>a>img,
#roster_fourth_row>a>img {
    width: 75px;
}

#roster_first_row>a:hover,
#roster_second_row>a:hover,
#roster_third_row>a:hover,
#roster_fourth_row>a:hover {
    border: solid var(--blue);
    border-radius: 20px;
}

#heat_title {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 50%;
    background-color: black;
    margin: 0;
    padding: 0;
    outline: solid 15px var(--blue);
    border-radius: 20px;
}

#heat_title>img {
    max-height: 25%;
    flex-shrink: 2;
}

#heat_title>p {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-size: 1em;
    padding: 0.5rem;
}

#heat_title>p>a {
    color: var(--blue);
    margin: 0;
    padding: 0;
    font-family: 'PT Serif', serif;
    font-size: 1em;
}

#heat_21_roster {
    width: 300px;
    height: 300px;
    background-color: black;
    margin: 0;
    padding: 0;
    outline: solid 15px var(--blue);
    border-radius: 20px;
}

#heat_21_roster {
    background-color: var(--blue);
}

#youtube_video_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
}

#youtube_video_container>iframe {
    width: 80%;
    height: 90%;
    margin: 0;
    padding: 0;
    border: solid 20px var(--blue);
    border-radius: 20px;
}


/* MEDIA QUERIES */

@media (max-width: 650px) {
    #youtube_video_container {
        display: none;
    }
    main {
        width: 100vw;
        height: 1%;
        justify-content: space-around;
    }
    #top_row {
        flex-direction: column;
        justify-content: flex-start;
        column-gap: 3rem;
        height: 100vh;
        width: 100vw;
    }
    #heat_title {
        width: 90vw;
        height: 50%;
    }
}

@media (max-height: 900px) {
    #youtube_video_container {
        display: none;
    }
    #nav_banner_spacer {
        height: 6vh;
    }
    #top_row {
        height: 100%;
    }
    #heat_title {
        min-height: 300px;
        height: 85%;
    }
    @media (min-width: 900px) {
        #heat_21_roster {
            display: flex;
        }
    }
}