body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #565254;
}

header {
    width: 100vw;
    padding: 0;
    margin: 0;
}

#skyline_banner {
    /* position: absolute; */
    width: 100vw;
    height: 100px;
    opacity: 0.5;
}

#logo_svg {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    height: 90px;
}