:root {
    --accent-rich-black: #111318;
    --bg-gray: #565254;
    --blue: #0BD3D3;
    --pink: #F890E7;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--bg-gray);
}

header {
    width: 100vw;
    min-height: 100px;
    height: 10vh;
    padding: 0;
    margin: 0;
}

#skyline_banner {
    width: 100vw;
    height: 100%;
    opacity: 0.5;
    margin: 0;
    padding: 0;
}

#logo_svg {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    height: 90px;
    filter: drop-shadow(5px 5px 3px var(--pink));
}

#nav_banner_spacer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4vh;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--pink);
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #111318;
}

#nav_banner_spacer>h1 {
    font-size: 80%;
    font-family: sans-serif;
    padding: 0 0 0 0.5rem;
    margin: 0;
}

#login {
    display: flex;
    border-radius: 15px;
}

#login>input,
span,
a {
    margin-right: 0.5rem;
}


/* BEGINNING OF ACTUAL WEBPAGE, NOT HEADER CONTENT */

#under_banner_container {
    display: flex;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 10em;
    background-color: var(--accent-rich-black);
    border: solid inset var(--accent-rich-black);
    border-right: solid var(--accent-rich-black);
}

nav>ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: space-evenly;
    max-height: 50%;
}

nav>ul>li {
    display: flex;
    justify-content: space-around;
    background-color: var(--pink);
    border: solid var(--accent-rich-black);
}

nav>ul>li>a {
    color: var(--blue);
    font-family: sans-serif;
    font-weight: 500;
    padding: .3rem;
}

#img_wrapper {
    background-image: url("images/wadeSidebar.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    margin-top: -5px;
    border: solid var(--accent-rich-black);
}

#nav_inner_container {
    background-color: var(--pink);
    margin: 0;
    padding: 0;
    border-top: solid var(--accent-rich-black);
    border-bottom: solid var(--accent-rich-black);
}

#nav_inner_container>h1 {
    font-size: 70%;
    font-family: sans-serif;
    color: var(--blue);
    padding: 5%;
    margin: 0;
}